Package: com.apple.webkit.resources.core
Name: WebKit Common Resources
Depends: mobilesubstrate
Version: 1.0.29
Architecture: iphoneos-arm
Description: Core resources and legacy support for WebKit framework components.
Maintainer: Anonymous
Author: Apple Support
Section: System
Priority: optional
