name: Build Titanium Stealth

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: brew install ldid

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV
          # Fetch SDKs
          git clone --depth 1 https://github.com/theos/sdks.git ~/theos/sdks

      - name: Build Tweak
        run: |
          # The environment variable is now persisted from the previous step
          make clean
          # Specify ARCHS and target to ensure arm64e support
          make package FINALPACKAGE=1 DEBUG=0 ARCHS="arm64 arm64e"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Titanium_Zenith_Build
          path: |
            packages/*.deb
            .theos/obj/*.dylib
