name: Build Titanium Stealth

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Ldid
        run: brew install ldid

      - name: Setup Theos & SDKs
        run: |
          export THEOS=~/theos
          echo "THEOS=~/theos" >> $GITHUB_ENV
          # تحميل Theos و SDKs يدوياً لضمان الاستقرار
          git clone --recursive https://github.com/theos/theos.git $THEOS
          rm -rf $THEOS/sdks
          git clone --depth 1 https://github.com/theos/sdks.git $THEOS/sdks

      - name: Build Tweak
        run: |
          export THEOS=~/theos
          make clean
          make package FINALPACKAGE=1 DEBUG=0 MESSAGES=0

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Titanium_Files
          path: |
            packages/*.deb
            .theos/obj/debug/*.dylib
